ul {
    list-style-type: none;
    padding-left: 0;
}
a {
    text-decoration: none;
    color: #000;
    transition: all .2s;
}
img {
    max-width: 100%;
}
.app-wrapper {
    display: grid;

    grid-template-areas:
  "header header"
  "sidebar main";

    grid-template-rows: 100px 1fr;
    grid-template-columns: 2fr 10fr;
}
.mainContSec {
    grid-area: main;
    background-color: #a09bdb;
    padding: 10px;
}

